<h1>Add a recipe!!!11</h1>

<form action="/added">
  Title:<br>
  <input type="text" name="title" value="Cake">
  <br>
  Prep time:<br>
  <input type="text" name="prep_time" value=20>
  <br>
  Cook Time:<br>
  <input type="text" name="cook_time" value=30>
  <br>
  Description:<br>
  <input type="text" name="description" value="Put it on the fire">
  <br>
  <br><br>
  <input type="submit" value="Submit">
</form>
