<h1>Cookbook</h1>

<p>
  <a href="/list">List Recipes</a>
</p>
<p>
  <a href="/add">Add Recipe</a>
</p>
<p>
  <a href="/destroy">Delete Recipe</a>
</p>

<form action="/search">
  Search Let's cook french:
  <input type="text" name="search_term" value="Quiche">
  <input type="submit" value="Search">
</form>
